
<div class="product-detail__container section__container container">
  <div class="product-detail__info">
    <h1 class="section__heading product-detail__heading heading heading--xl" id="main_heading">White unisex t-shirt</h1>
    <p class="product-detail__description product-detail__description--size">CHF 40</p>
    <p class="product-detail__description product-detail__description--tax">Tax included</p>
    <form action="javascript:void(0)" id="product_characteristics_form" class="product-detail__form form" method="post">
      <fieldset class="product-detail__form-group product-options product-options--size">
        <legend class="visually-hidden">Choose Size of <span class="visually-hidden">White unisex t-shirt</span></legend>
        <p class="product-options__name" aria-hidden="true">Size - <span id="product_heading_size">XS</span></p>
        <ul class="product-options__list product-options__list--js" role="list">
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="size_1" name="product_size" value="XS" checked>
            <label for="size_1" class="product-options__list-label product-options__list-label--size" title="XS size">XS</label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="size_2" name="product_size" value="S">
            <label for="size_2" class="product-options__list-label product-options__list-label--size" title="S size">S</label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="size_3" name="product_size" value="M">
            <label for="size_3" class="product-options__list-label product-options__list-label--size" title="M size">M</label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="size_4" name="product_size" value="L">
            <label for="size_4" class="product-options__list-label product-options__list-label--size" title="L size">L</label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="size_5" name="product_size" value="XL">
            <label for="size_5" class="product-options__list-label product-options__list-label--size" title="XL size">XL</label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="size_6" name="product_size" value="2XL" disabled>
            <label for="size_6" class="product-options__list-label product-options__list-label--size" title="2XL size">2XL</label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="product-detail__form-group product-options product-options--color">
        <legend class="visually-hidden">Choose Color of <span class="visually-hidden">White unisex t-shirt</span></legend>
        <p class="product-options__name" aria-hidden="true">Color - <span id="product_heading_color">White</span></p>
        <ul class="product-options__list product-options__list--js" role="list">
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="color_1" name="product_color" value="White" checked>
            <label for="color_1" class="product-options__list-label product-options__list-label--color" title="Color White">
              <span class="radio-color" style="background-color: #fff; border: 1px solid #ccc"></span>
              <span class="visually-hidden">White</span>
            </label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="color_2" name="product_color" value="Mirage">
            <label for="color_2" class="product-options__list-label product-options__list-label--color" title="Color Mirage">
              <span class="radio-color" style="background-color: #1A1F29"></span>
              <span class="visually-hidden">Mirage</span>
            </label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="color_3" name="product_color" value="Bombay">
            <label for="color_3" class="product-options__list-label product-options__list-label--color" title="Color Bombay">
              <span class="radio-color" style="background-color: #AEAEB0"></span>
              <span class="visually-hidden">Bombay</span>
            </label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="color_4" name="product_color" value="Dull Lavender">
            <label for="color_4" class="product-options__list-label product-options__list-label--color" title="Color Dull Lavender">
              <span class="radio-color" style="background-color: #BA9BE6"></span>
              <span class="visually-hidden">Dull Lavender</span>
            </label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="color_5" name="product_color" value="Sea Pink" disabled>
            <label for="color_5" class="product-options__list-label product-options__list-label--color" title="Color Sea Pink">
              <span class="radio-color" style="background-color: #E9A0A7"></span>
              <span class="visually-hidden">Sea Pink</span>
            </label>
          </li>
          <li class="product-options__list-item">
            <input type="radio" class="product-options__list-radio visually-hidden" id="color_6" name="product_color" value="Apricot Peach" disabled>
            <label for="color_6" class="product-options__list-label product-options__list-label--color" title="Apricot Peach">
              <span class="radio-color" style="background-color: #F8CAB1"></span>
              <span class="visually-hidden">Apricot Peach</span>
            </label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="product-detail__form-group product-options product-options--quantity">
        <legend class="product-options__name">Quantity <span class="visually-hidden">of White unisex t-shirt</span></legend>
        <div class="product-options__quantity quantity">
          <label for="product_quantity" class="visually-hidden quantity__label">Quantity</label>
          <div class="quantity__control">
            <input
                   type="number"
                   id="product_quantity"
                   class="quantity__input"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   min="1"
                   max="999"
                   value="1"
                   >
            <button class="quantity__button quantity__button--decrease" type="button">
              <span class="visually-hidden">Deduct 1</span>
              <span aria-hidden="true">-</span>
            </button>
            <button class="quantity__button quantity__button--increase" type="button">
              <span class="visually-hidden">Add 1</span>
              <span aria-hidden="true">+</span>
            </button>
          </div>
        </div>
      </fieldset>
      <div class="product-detail__buttons-container">
        <button class="product-detail__button product-detail__button--card" type="button">Add to cart<span class="visually-hidden">White unisex t-shirt</span></button>
        <button class="product-detail__button product-detail__button--buy" id="button_buy_product" type="submit">Buy it now<span class="visually-hidden">White unisex t-shirt</span></button>
      </div>
    </form>
    <p class="product-detail__description product-detail__description--detail">A unisex basic garment with a loose fit. Light and comfortable to your skin.</p>
    <p class="product-detail__description product-detail__description--certificate">Certification of cotton - GOTS</p>
  </div>
  <div class="product-detail__media">
    <img class="product-detail__image" src="https://inquisitor1229.github.io/Susparsa-product-detail-page/img/product-detail/product-detail__main-pic.jpg" alt="" role="presentation">
  </div>
</div>

<section class="container accordion-container">
  <h2 class="visually-hidden">Product features</h2>
  <div id="accordionGroup" class="accordion">
    <h3 class="accordion__heading-container">
      <button type="button" aria-expanded="true" class="accordion__trigger accordion__trigger--first" aria-controls="sect1" id="accordion1id">
        <span class="accordion__heading">
          Sizing & Fit
          <span class="accordion__icon"></span>
        </span>
      </button>
    </h3>
    <div id="sect1" role="region" aria-labelledby="accordion1id" class="accordion__panel">
      <div>
        Olga is 175cm, she is wearing a size S.
      </div>
    </div>
    <h3 class="accordion__heading-container">
      <button type="button" aria-expanded="false" class="accordion__trigger" aria-controls="sect2" id="accordion2id">
        <span class="accordion__heading">
          Billing Address
          <span class="accordion__icon"></span>
        </span>
      </button>
    </h3>
    <div id="sect2" role="region" aria-labelledby="accordion2id" class="accordion__panel" hidden="">
      <div>
        Olga is 175cm, she is wearing a size S.
      </div>
    </div>
    <h3 class="accordion__heading-container">
      <button type="button" aria-expanded="false" class="accordion__trigger" aria-controls="sect3" id="accordion3id">
        <span class="accordion__heading">
          Shipping Address
          <span class="accordion__icon"></span>
        </span>
      </button>
    </h3>
    <div id="sect3" role="region" aria-labelledby="accordion3id" class="accordion__panel" hidden="">
      <div>
        Olga is 175cm, she is wearing a size S.
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Main product",
	"class": "product-detail section",
	"tag": "section",
    "settings": [],
	"limit": 1,
	"blocks": [
     {
       "name": "Accordeon",
       "type": "Accordeon",
       "settings": [
          {
            "type": "text",
            "id": "accordeon_heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "accordeon_text",
            "label": "text"
          }
       ]
     }
   ],
	"presets": [
      {
          "name": "Main product"
      }
	],
 "templates": ["product"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
