<section class="products section" aria-labelledby="products_heading">
    <div class="products__container section__container container">
      <h2 id="products_heading" class="products__heading heading heading--xl">
        <span aria-hidden="true">You may also like</span>
        <span class="visually-hidden">You may also like next products</span>
      </h2>
      <ul class="products__list" aria-labelledby="products_heading" role="list">
        <li class="products__item">
          <div class="product-card">
            <div class="product-card__media">
              <img class="product-card__image" src="https://inquisitor1229.github.io/Susparsa-product-detail-page/img/products/products__product-1.jpg" alt="" role="presentation">
            </div>
            <div class="product-card__info">
              <h3 id="products_heading_1" class="product-card__heading heading heading--lg">
                <a class="product-card__link" href="javascript:void(0)">Product name</a>
              </h3>
              <ul class="product-card__colors" role="list" aria-labelledby="a11y_colors_label products_heading_1">
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #C88252"></div>
                  <span class="visually-hidden">Antique Brass</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #F8CAB1"></div>
                  <span class="visually-hidden">Apricot Peach</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #E9A0A7"></div>
                  <span class="visually-hidden">Sea Pink</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #BA9BE6"></div>
                  <span class="visually-hidden">Dull Lavender</span>
                </li>
              </ul>
              <p class="product-card__description">CHF 40</p>
            </div>
          </div>
        </li>
        <li class="products__item">
          <article class="product-card">
            <div class="product-card__media">
              <img class="product-card__image" src="https://inquisitor1229.github.io/Susparsa-product-detail-page/img/products/products__product-2.jpg" alt="" role="presentation">
            </div>
            <div class="product-card__info">
              <h3 id="products_heading_2" class="product-card__heading heading heading--lg">
                <a class="product-card__link" href="javascript:void(0)">Product name</a>
              </h3>
              <ul class="product-card__colors" role="list" aria-labelledby="a11y_colors_label products_heading_2">
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #C88252"></div>
                  <span class="visually-hidden">Antique Brass</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #F8CAB1"></div>
                  <span class="visually-hidden">Apricot Peach</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #E9A0A7"></div>
                  <span class="visually-hidden">Sea Pink</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #BA9BE6"></div>
                  <span class="visually-hidden">Dull Lavender</span>
                </li>
              </ul>
              <p class="product-card__description">CHF 40</p>
            </div>
          </article>
        </li>
        <li class="products__item">
          <article class="product-card">
            <div class="product-card__media">
              <img class="product-card__image" src="https://inquisitor1229.github.io/Susparsa-product-detail-page/img/products/products__product-3.jpg" alt="" role="presentation">
            </div>
            <div class="product-card__info">
              <h3 id="products_heading_3" class="product-card__heading heading heading--lg">
                <a class="product-card__link" href="javascript:void(0)">Product name</a>
              </h3>
              <ul class="product-card__tags tags" aria-labelledby="a11y_tags_label products_heading_3" role="list">
                <li class="tags__item">
                  <div class="tag tag--sold-out">Sold out</div>
                </li>
              </ul>
              <ul class="product-card__colors" role="list" aria-labelledby="a11y_colors_label products_heading_3">
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #C88252"></div>
                  <span class="visually-hidden">Antique Brass</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #F8CAB1"></div>
                  <span class="visually-hidden">Apricot Peach</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #E9A0A7"></div>
                  <span class="visually-hidden">Sea Pink</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #BA9BE6"></div>
                  <span class="visually-hidden">Dull Lavender</span>
                </li>
              </ul>
              <p class="product-card__description">CHF 40</p>
            </div>
          </article>
        </li>
        <li class="products__item">
          <article class="product-card">
            <div class="product-card__media">
              <img class="product-card__image" src="https://inquisitor1229.github.io/Susparsa-product-detail-page/img/products/products__product-4.jpg" alt="" role="presentation">
            </div>
            <div class="product-card__info">
              <h3 id="products_heading_4" class="product-card__heading heading heading--lg">
                <a class="product-card__link" href="javascript:void(0)">Product name</a>
              </h3>
              <ul class="product-card__colors" role="list" aria-labelledby="a11y_colors_label products_heading_4">
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #C88252"></div>
                  <span class="visually-hidden">Antique Brass</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #F8CAB1"></div>
                  <span class="visually-hidden">Apricot Peach</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #E9A0A7"></div>
                  <span class="visually-hidden">Sea Pink</span>
                </li>
                <li class="product-card__colors-item">
                  <div class="product-card__colors-bg" style="background-color: #BA9BE6"></div>
                  <span class="visually-hidden">Dull Lavender</span>
                </li>
              </ul>
              <p class="product-card__description">CHF 40</p>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <span id="a11y_colors_label" class="visually-hidden" aria-hidden="true">Product colors</span>
    <span id="a11y_tags_label" class="visually-hidden" aria-hidden="true">Product features</span>
  </section>

{% schema %}
  {
    "name": "Product recomendations",
    "settings": [
          {
            "type": "text",
            "id": "recomendations_heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "collection",
            "id": "recomendations_collection",
            "label": "Collection"
          },
          {
            "type": "range",
            "id": "recomendations_collection_range",
            "min": 3,
            "max": 6,
            "step": 1,
            "label": "range",
            "default": 3
          }
       ],
	"presets": [
	{
		"name": "Product recomendations"
	}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
